root { 
   display: block;
}
.capacalendario{
        width: 219px;
        position: absolute;
        display: none;
        background-color: #fff;
        z-index:50000;
    }
    .capacalendarioborde{
        padding: 3px;
        border: 1px solid #ddd;
    }
    .diassemana{
        overflow: hidden;
        margin: 3px 0;
        clear: both;
        background-image: url(../img/back_blue.png);
        background-repeat: repeat-x;
    }
    .diasmes{
        overflow: hidden;
    }
    .diassemana span, .diasmes span{
        margin: 3px;
        width: 25px;
        display: block;
        float: left;
        text-align: center;
        height: 1.5em;
        line-height: 1.5em;
        font-size: 0.875em;
    }
    .diassemana span{
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        height: 1.8em;
        line-height: 1.8em;
    }
    .diasmes span{
        background: #ddd;
        cursor: pointer;
    }
    .diasmes span.diainvalido{
        cursor: default;
        background-color: #FFF;
    }
    .diasmes span.domingo{
        color: #c00;
    }
    .capacalendario span.primero{
        margin-left:0 !important;
    }
    .capacalendario span.ultimo{
        margin-right:0 !important;
    }

    a.botoncal{
        margin-left: 5px;
        background: transparent url(../img/calendario.png) no-repeat;
    }
    a.botoncal span{
        display: inline-table;
        width: 16px;
        height: 16px;
    }
    a.botonmessiguiente{
        float: right;
        background: transparent url(../img/105.png) no-repeat;
        margin: 5px 5px 0 5px;
        height:10px;
    }
    a.botonmessiguiente span, a.botonmesanterior span, a.botoncambiaano span{
        display: inline-table;
        width: 10px;
        height: 10px;
    }
    a.botonmesanterior{
        float: left;
        background: transparent url(../img/106.png) no-repeat;
        margin: 5px 5px 0 5px;
        height:10px;
    }
    a.botoncambiaano{
        background: transparent url(../img/193.png) no-repeat;
        margin: 5px 5px 0 5px;
        font-size: 0.8em;
    }
    .textomesano{
        background-color: #FFF;
        overflow: hidden;
        padding: 2px;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center
    }
    .mesyano{
        margin-top: 3px;
    }
    .visualmesano{
        display: inline;
    }
    .capacerrar{
        background-color: #EAEAEA;
        overflow: hidden;
        padding: 2px;
        font-size: 0.5em;
    }
    a.calencerrar{
        float: right;
        margin: 2px 5px 0 5px;
        background-color: #E0E0E0;
        background-image: url(../img/101.png);
        background-repeat: no-repeat;
    }
    a.calencerrar span{
        display: inline-table;
        width: 10px;
        height: 10px;
    }
    .capaselanos{
        width: 50px;
        display: none;
        font-size: 0.8em;
        text-align: center;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .capaselanos a{
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        padding: 2px 0;
    }
    .capaselanos a.seleccionado{
        background-color: #069;
        font-weight: bold;
        color: #FFF;
    }
    .capaselanos a.ultimo{
        border: 0;
    }
    
    .fincadrop{
       padding: 0.3em;
       cursor: pointer;
    }
    
    .fincadrop:hover{
       background: #F1F1F1;
    }
    
    #proveedor_show,#cliente_show{
       height: 200px;
       width: 155px;
       overflow-x: hidden;
       overflow-y: auto;
       position: fixed;
       border: 1px solid #D0D0D0;
       background-color: #F9F9F9
    }
    
    .required{
       color:red
    }